/* .App {
  text-align: center;
} */

.alive{
  background-color: black;
  border: 1px solid gray;
  line-height: 2em;
}
.dead{
  background-color: white;
  border: 1px solid gray;
  line-height: 2em;
}
.grid{
  border: 2px solid gray;
  width:40vw;
  height: 40vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}